

@font-face {
    font-family: "calibri_light";
    src: url('./calibri_light.ttf');
}


@font-face {
    font-family: "tele2_displayserif-bold";
    src: url('./tele2_displayserif-bold.ttf');
}

@font-face {
    font-family: "calibri_regular";
    src: url('./calibri.ttf');
}