.footer {
    height: 5vh;
    padding: 0 20px;
    background-color: #e0e0e0; // Серый фон для футера
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #ccc; // Легкий верхний бордер
  }
  